.score-div{
    margin: 1% 0 3%;
    clear:both;
}
.button-div{
    overflow-y: scroll;
    float:left;
    margin: 0 2%;
    width:32%;
    height:67vh;
}
/* width */
.button-div::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.button-div::-webkit-scrollbar-track {
    border-radius:20px;
    background: gray; 
}
  
  /* Handle */
.button-div::-webkit-scrollbar-thumb {
    border-radius:20px;
    background: #14b7b8; 
}
  
  /* Handle on hover */
.button-div::-webkit-scrollbar-thumb:hover {
    background: #00FFFF; 
}
.itemButton{
    width:48%;
    background-color: rgba(0,0,0,0);
    border: 0.1em solid #14b7b8;
    border-radius:15px;
    color: #14b7b8;
    padding: 1em 1.5em;
    margin:0.2em;
    text-align: center;
    font-size: 1.2vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.itemButton:disabled {
    opacity: 0.4;
    color:gray;
    border: 0.1em solid gray;
    cursor: not-allowed;
    box-shadow: none;
}
.itemButton:hover{
    border: 0.1em solid #00FFFF;
    color:#00FFFF;
    box-shadow: 0px 0px .3em #00FFFF;
}
.itemButton:focus{
    outline:none;
}
.itemButton:active{
    outline:none;
    border: 0.1em solid #a7ffff;
    color:#a7ffff;
    box-shadow: 0px 0px .3em #a7ffff;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.itemButton:disabled:hover {
    background-color: rgba(0,0,0,0);
    border: 0.1em solid gray;
    color:gray;
    box-shadow: none;
}
.itemButton:first-child{
    margin-top:1em;
}
.itemButton:last-child{
    margin-bottom:1em;
}
.display-div{
    display:table;
    float:left;
    margin: 0 2%;
    width:60%;
    height:67vh;
}
.battle-div{
    display:table-cell;
    vertical-align: middle;
}
.battlefield-img{
    vertical-align: middle;
    max-width:100%;
}
.creditDiv > p{
    padding:0;
    margin:0;
    font-size:1.9vw;
}
.creditPerSecondDiv > p{
    padding:0;
    margin:0;
    font-size: 1.5vw;
}
.stats-div{
    clear:both;
}