.gamescreen {
  width: 100%;
  height: 84vh;
}
.ant-tabs {
  color: white !important;
}
.ant-tabs-bar, .ant-tabs-top-bar{
  margin: 0 !important;
}
.score-div {
  margin: 1% 0 1%;
  clear: both;
}
.button-div {
  text-align: left;
  overflow-y: scroll;
  float: left;
  margin: 0 2%;
  width: 32%;
  height: 62vh;
  max-height:580px;
  max-width: 580px;
}
/* width */
.button-div::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.button-div::-webkit-scrollbar-track {
  border-radius: 20px;
  background: gray;
}
/* Handle */
.button-div::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #14b7b8;
}
/* Handle on hover */
.button-div::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}
.display-div {
  display: table;
  float: left;
  margin: 0 2%;
  width: 60%;
  height: 65vh;
  max-height:580px;
}
.battle-div {
  display: table-cell;
  vertical-align: middle;
}
.stats-div {
  clear: both;
}
@media screen and (min-width: 1920px) {
  .itemButton {
     font-size: 23px;
  }
  .score-div {
    margin: 20px 0;
  }
}