.score-div{
    margin: 1% 0 3%;
}
.button-div{
    display:inline-block;
    margin: 0 2%;
    width:55%;
}
.itemButton{
    min-width:32%;
    background-color: #003b6f; /* Green */
    border: none;
    border-radius:15px;
    color: white;
    padding: 1em 1.5em;
    margin:0.2em;
    text-align: center;
    font-size: 1.2vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.itemButton:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
.itemButton:hover{
    background-color: #004b9c;
}
.display-div{
    display:inline-block;
    margin: 0 2%;
    width:35%;
}
.creditDiv > p{
    padding:0;
    margin:0;
}
.creditPerSecondDiv > p{
    padding:0;
    margin:0;
    font-size: 1.5vw;
}